@use 'helpers' as *;

body {
  font-family: var(--font-family);
  font-size: rem(16);
  background-color: var(--color-light);
  transition-duration: .2s;
  overflow-inline: hidden;
  min-height: 100vh;
  color: var(--color-gray-dark);
  h2 {
    font-size: fluid(30, 18);
    font-weight: 500;
  }
  h3 {
    font-size: fluid(20, 16);
    font-weight: 500;
  }
}

a, button, input {
  transition: all .15s;
}

button {
  @include hover {
    color: var(--color-yellow);
  }
}

a {
  color: var(--color-white);
  @include hover {
    color: var(--color-yellow);
  }
}